

#mywebsite {
	background-color: #44bd5e;
	padding: 80px;
	text-align: center;
	margin: 0;
}

nav {
	background-color: #333;
	overflow: hidden;
	margin: 0;
}

nav a{
	padding: 14px 20px;
	color: white;
	display: block;
	text-align: center;
	text-decoration: none;
	margin: 0;
}

nav a.left{
	float: left;
}

nav a.right {
	float: right;
}

nav a:hover{
	background-color: #DDD;
	color: black;
}

#flex-container {
	display: flex;
	flex-wrap: nowrap;
}

#flex-left {
	padding: 40px;
	flex: 30%;
	background-color: #f1f1f1;
}

#flex-right {
	padding: 40px;
	flex: 70%;
}

table,th,td {
	border: 1px solid #DDD;
	border-collapse: collapse;
	text-align: center;
}

table tr:nth-child(even){
	background-color: #f2f2f2;
}

table th{
	background-color: #34ebba;
	color: #404547;
}



footer {
	background-color: #333;
	padding: 10px;
	color: white;
	text-align: center;
}


@media(max-width: 600px){
	#flex-container {
		flex-wrap: wrap;
	}
	#flex-left{
		flex: 100%;
	}
	#flex-right{
		flex: 100%;
	}
} 
